<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kevkevin.wsdt.tagueberstehen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- INTENT FILTER VIEW FOR GOOGLE INDEXING -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Declare interstitial ad (admob) explicitely fullscreen [because Admob for Android 8.0 not uptodate enough] -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:replace="android:theme"/>


        <!-- screenOrientation and configChanges so only portrait mode [For Android 8.0 NEEDS TO BE FULLSCREEN!!] -->
        <activity
            android:name=".LoadingScreenActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Also splash theme here, so we can show appIcon while opening app from notification (BUT WITH ACTIONBAR) -->
        <activity
            android:name=".CountdownActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/SplashThemeWithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <!-- Credits activity needs parent of splashtheme or noActionBar Theme (better: because color so primary and not black) -->
        <activity
            android:name=".CreditsActivity"
            android:label="@string/title_activity_credits">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <!--
            <activity
            android:name=".util.InAppPurchaseActivity"
            android:label="In App Purchase"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".ModifyCountdownActivity"
            android:label="@string/title_activity_modify_countdown">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppSettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".RewardedVideoAdActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme" />
        <activity android:name=".InAppPurchaseActivity"/>

        <!-- BROADCAST RECEIVERS FOR REGULAR NOTIFICATIONS (maybe replacing background service in future) -->
        <receiver
            android:name=".classes.services.Kickstarter_BootAndGeneralReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".classes.services.NotificationService_AlarmmanagerBroadcastReceiver" />

        <!--
        FOREGROUND COUNTDOWN COUNTER SERVICE -
        // ADDED IF EVERYTHING WORKS FINE
        -->
        <service
            android:name=".classes.services.CountdownCounterService"
            android:exported="false"
            android:process=":countdowncounter"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name=".classes.CountdownCounterService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!--
             BACKGROUND NOTIFICATION SERVICE
             directBootAware (allows running service also when phone is locked), if not supported by current device then savely IGNORED!
        -->
        <service
            android:name=".classes.services.NotificationService"
            android:directBootAware="true"
            android:exported="false"
            android:label="@string/app_name"
            android:process=":remote"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name=".classes.NotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>